article section {
    min-width: 80%;
    border-style: solid;
    border-color: var(--darkpurple);
    border-width: 4px;
    margin: 20px;
}

article section h2 {
    margin: 10px;
    font-size: 28px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 184, 184, 0.671);
    border-bottom-width: 2px;
    padding: 6px;
    font-weight: 700;
}

article section p {
    padding: 10px;
    margin: 20px;
    font-size: 18px;
}

article section div {
    margin: 10px;
    font-size: 14px;
    font-style: italic;
}

footer {
    border-top-style: solid;
    border-color: var(--darkpurple);
    border-width: 4px;
    padding: 20px
}

footer h3 {
    text-align: center;
    font-size: 20px;
}

footer ul {
    list-style: circle;
    margin: 10px;
}

footer ul li {
    padding: 4px;
    font-size: 18px;
}

#back-btn {
    margin: 4px 12px 12px 0;
    font-size: 18px;
    border-style: none;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    color: var(--darkmodefont);
}